@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
button {
	background: rgb(123, 123, 123);
	padding: 0.6rem 0.8rem;
	font-size: 1.5rem;
	font-weight: 500;
	color: white;
	border: 0.01px solid #4a4a4a;
}

@layer components {
	button {
		@apply active:bg-[#8f8f8f]  transition-colors cursor-default;
	}
	.App {
		@apply bg-[#141414] overflow-x-hidden;
	}
	.wrapper {
		@apply flex items-center min-h-screen flex-col;
	}
	.calculator-grid {
		@apply grid grid-cols-[repeat(4,4rem)];
	}

	.output {
		@apply col-start-1 col-end-[-1] bg-[#25292C]   px-2 flex flex-col justify-between items-end gap-3 break-all  rounded-t-xl overflow-hidden;
	}
	.previous-operand {
		@apply text-[#c7c7c7] text-xs pt-2 max-h-max min-h-[1rem];
	}
	.current-operand {
		@apply text-white text-3xl pb-2;
	}
	.text {
		@apply text-[#bcbcbc] mt-[5rem] text-xs font-[500];
	}
	.text-2 {
		@apply text-[#ffffff] text-3xl mb-[1rem] mt-[3rem];
	}
	.text-3 {
		@apply text-[#656565]  text-xs font-semibold mb-[5rem] text-center w-[70%];
	}
	.text-4 {
		@apply text-[#656565]  text-xs font-semibold mb-[1rem] w-[16rem];
	}
}
